<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="sass">
    #app
        font-family: Avenir, Helvetica, Arial, sans-serif
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        text-align: center
        color: #2c3e50

    @keyframes fadeOut
        0%
            opacity: 1
        50%
            opacity: 1
        100%
            opacity: 0
</style>
