<template>
    <div class="cart">
        <div class="cart-item" v-for="cartItem in cartItems">
            <div class="cart-item__image">
                <img :src="cartItem.product.images[0].image" alt="product">
            </div>

            <div class="cart-item__description">
                <div class="cart-item__description__name">{{cartItem.product.name}}</div>
                <div class="cart-item__description__text">{{cartItem.product.description}}</div>
            </div>

            <div class="cart-item__buttons-count-items">
                <button class="cart-item__buttons-count-items__minus"
                        @click="cartItem.count > minValue  ? --cartItem.count : null, cartItem.isChanged=true">-</button>
<!--                <input type="number" max="10" min="1" v-model="cartItem.count" disabled>-->
                <span>{{cartItem.count}}</span>
                <button class="cart-item__buttons-count-items__plus"
                        @click="cartItem.count < maxValue ? ++cartItem.count : null, cartItem.isChanged=true">+</button>
            </div>

            <div class="cart-item__price-n-trash">
                <div class="cart-item__price-n-trash__price">{{cartItem.product.price}} $</div>
                <img src="@/assets/rubbish-can.svg"
                     :cart-item-id="cartItem.id"
                     class="cart-item__price-n-trash__trash-icon"
                     alt="trash" @click="deleteCartItem">
            </div>
        </div>
        <div class="total-price">Total: {{totalPrice}} $</div>
        <button class="buy-button" @click="buy">BUY</button>
    </div>
</template>

<script>
    export default {
        name: "Cart",
        data() {
            return {
                minValue: 1,
                maxValue: 50,
                cartItems: [
                    {
                        id: null,
                        count: null,
                        isChanged: false,
                        product: {
                            price: null,
                            name: null,
                            description: null,
                            images: [
                                {
                                    image: null
                                }
                            ]
                        }
                    }
                ]
            }
        },
        methods: {
            deleteCartItem(e) {
                let cartItemId = e.target.getAttribute("cart-item-id");
                if(!confirm("Are you sure?")) return false
                this.axios
                    .delete(`${this.$URLCartItems}${cartItemId}`)
                    .then(response => {
                       if (response.status === 204) {
                           for (let i in this.cartItems) {
                               let cartItem = this.cartItems[i];
                               if (cartItem.id === parseInt(cartItemId)) {
                                   this.cartItems.splice(i, 1);
                               }
                           }
                       }
                    });
            },
            buy() {
                for(let cartItem of this.cartItems) {
                    if (cartItem.isChanged)
                        this.axios
                            .patch(`${this.$URLCartItems}${cartItem.id}/`, {"count": cartItem.count})
                }
                this.$router.push({name: "Shipping", params: {parentTotalPrice: this.totalPrice}});
            }
        },
        computed: {
            totalPrice: function () {
                let total = 0;
                for(let cartItem of this.cartItems) {
                    total += cartItem.count * cartItem.product.price;
                }
                return total;
            },
        },
        beforeCreate() {
            this.axios
                .get(this.$URLCartItems)
                .then(response => {
                    if (response.status === 200) {
                        this.cartItems = [];
                        for(let cartItem of response.data) {
                            cartItem.isChanged = false;
                            cartItem.product.images[0].image = `${this.hostname}${cartItem.product.images[0].image}`;
                            this.cartItems.push(cartItem);
                        }
                    }
                });
        }
    }
</script>

<style scoped lang="sass">
    .cart
        max-width: 900px
        margin: 0 auto
        position: relative
        @media screen and (max-width: 768px)
            width: 500px
    .cart-item
        display: flex
        flex-wrap: wrap
        position: relative
        margin-bottom: 20px
        border-bottom: 1px solid #ddd
        padding:
            bottom: 30px
        @media screen and (max-width: 768px)
            flex-direction: column
        &__image
            border-radius: 20%
            padding: 20px
            margin: 15px
            box-shadow: 0 7px 10px grey
            order: 1
            @media screen and (max-width: 768px)
                width: 200px
                position: relative
                left: 50%
                transform: translateX(-50%)
            &>img
                width: 150px
                height: 150px
                object-fit: cover
        &__description
            flex: 4
            text-align: left
            margin: 0 20px
            order: 2
            &__name
                font-weight: bold
                margin-bottom: 20px
                @media screen and (max-width: 768px)
                    text-align: center
        &__buttons-count-items
            display: flex
            justify-content: flex-end
            flex: 1
            align-self: center
            order: 3
            @media screen and (max-width: 768px)
                margin: 20px 0
                order: 4
            &__minus, &__plus
                box-sizing: border-box
                width: 40px
                height: 40px
                font-size: 20px
                border: 1px solid grey
                border-radius: 10%
                outline: none
                cursor: pointer
            &>span
                cursor: default
                line-height: 40px
                border: 1px solid grey
                color: black
                border-radius: 25%
                text-align: center
                width: 40px
                margin: 0 10px
                font-size: 20px
                outline: none
        &__price-n-trash
            align-self: center
            order: 4
            @media screen and (max-width: 768px)
                order: 3
                margin-top: 20px
            &__price
                white-space: nowrap
                align-self: center
                font-weight: bold
                margin-left: 10px
                font-size: 18px
            &__trash-icon
                position: absolute
                right: 5px
                top: 5px
                cursor: pointer
                width: 25px
                height: 25px
                @media screen and (max-width: 768px)
                    top: inherit
                    bottom: 80px
                    right: 40px
    .total-price
        text-align: right
        font-weight: bold
        font-size: 24px
        margin: 20px 0
        @media screen and (max-width: 768px)
            position: fixed
            top: 5px
            left: 15px
            background-color: white
    .buy-button
        position: absolute
        right: 0
        font-weight: bold
        font-size: 24px
        padding: 15px
        border-radius: 15%
        outline: none
        border: 1px solid #aaa
        cursor: pointer
        margin-bottom: 30px
        @media screen and (max-width: 768px)
            position: inherit
            text-align: center

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0

    /* Firefox */
    input[type=number]
      -moz-appearance: textfield
</style>