<template>
    <form @submit.prevent="submit" name="login" method="post">
        <p v-if="error" class="error">{{error}}</p>
        <p class="field">
            <label for="username">Username:</label>
            <input
                id="username"
                v-model="form.username"
                type="text"
                name="username"
                required
            >
        </p>
        <p class="field">
            <label for="password">Password:</label>
            <input
                id="password"
                v-model="form.password"
                type="password"
                name="password"
                required
            >
        </p>
        <button class="submit-button">Sign In</button>
    </form>
</template>

<script>
    export default {
        name: "Login",
        data() {
          return {
              form: {},
              error: null
          }
        },
        methods: {
            showErrorMessage() {
                setTimeout(() => {
                    this.error = null;
                }, 3000)
            },
            submit() {
                let formData = new FormData(document.forms.login);
                this.axios.post(this.$URLLogin, formData)
                    .then(response => {
                       if(response.status === 200) {
                           let token = response.data.token;
                           localStorage.setItem("token", token);
                           this.$root.setAuthTokenAtHeaders(token);
                           this.$router.push({name: "Cart"});
                       }
                    })
                    .catch(error => {
                        this.error = "Username or password Invalid"
                        this.showErrorMessage();
                    });
            }
        },
        beforeCreate() {
            let token = localStorage.getItem("token");
            if (token) this.$router.push({name: "Cart"});
        }
    }
</script>

<style scoped lang="sass">
    .field
        display: flex
        position: relative
        justify-content: flex-end
        width: 300px
        &>label
            padding: .3em 1em .3em 0
            flex: 1
            text-align: left
        &>input
            flex: 3
            &:focus
                border: 1px solid black
    form
        display: flex
        flex-direction: column
        align-items: center
        margin:
            top: 50px
    button
        border-radius: 15%
        outline: none
        border: none
        cursor: pointer
        padding: 10px
        &:hover
            color: white
            background: black
    .error
        color: white
        position: absolute
        top: 0
        animation: fadeOut ease-out 4s
        padding: 10px
        margin-bottom: 15px
        background-color: darkred
</style>