<template>
    <div class="shipping">
        <form method="post" name="shipping" @submit.prevent="submit">
            <h2><em>Shipping</em></h2>
            <div class="field">
                <label for="name">Name*</label>
                <div class="input">
                    <input id="name"
                       v-model.trim="$v.userName.$model"
                       name="name"
                       placeholder="Your name and surname"
                       type="text" autocomplete="off"
                       :class="{invalid: $v.userName.$dirty && !$v.userName.required}">
                    <small class="error-msg"
                        v-if="$v.userName.$dirty && !$v.userName.required">
                        Input your name
                    </small>
                </div>
            </div>

            <div class="field">
                <label for="address">Address*</label>
                <div class="input">
                    <input
                        id="address"
                        type="text"
                        placeholder="Your home address"
                        v-model="$v.address.$model"
                        name="address"
                        :class="{invalid: ($v.address.$dirty && !$v.address.required)
                            || ($v.address.$dirty && !$v.address.minLength)}">
                    <small class="error-msg"
                        v-if="$v.address.$dirty && !$v.address.required">
                        Input your address
                    </small>
                    <small class="error-msg"
                        v-else-if="$v.address.$dirty && !$v.address.minLength">
                     Address must have at least {{$v.address.$params.minLength.min}} symbols
                    </small>
                </div>
            </div>

            <div class="field">
                <label for="email">Email*</label>
                <div class="input">
                    <input
                        id="email"
                        placeholder="Your E-mail"
                        v-model="$v.customerEmail.$model"
                        type="email"
                        name="email"
                        :class="{invalid: ($v.customerEmail.$dirty && !$v.customerEmail.required)
                            || ($v.customerEmail.$dirty && !$v.customerEmail.email)}">
                    <small class="error-msg"
                        v-if="$v.customerEmail.$dirty && !$v.customerEmail.required">
                        Email field is empty
                    </small>
                    <small class="error-msg"
                        v-if="$v.customerEmail.$dirty && !$v.customerEmail.email">
                        Invalid Email
                    </small>
                </div>
            </div>

            <div class="field">
                <label for="phone">Phone</label>
                <div class="input">
                    <input
                        id="phone"
                        placeholder="+380"
                        v-model="$v.phone.$model"
                        type="text"
                        name="phone"
                        :class="{invalid: phone !== '' && !$v.phone.isPhoneOrEmpty}">
                    <small class="error-msg"
                        v-if="$v.phone.$dirty &&  !$v.phone.isPhoneOrEmpty">
                        Invalid phone number
                    </small>
                </div>
            </div>

            <div class="field select">
                <label>Shipping Option</label>
                <select v-model="shipping" name="shipping_option">
                    <template v-if="totalPrice >= 300">
                        <option value="20" selected>Free express shipping - 0$</option>
                    </template>
                    <template v-else>
                        <option value="10" selected>Free shipping - 0$</option>
                        <option value="20">Express shipping - 9.99$</option>
                    </template>
                    <option value="30">Courier shipping - 19.99$</option>
                </select>
            </div>

            <div class="total-price">Total: {{priceWithShipping}} $</div>
            <div class="submit-button">
<!--                :disabled='!errors || !formIsFill'-->
                <button
                    :disabled="$v.$invalid"
                    class="pay-button"
                    type="submit">PAY
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import {email, required, minLength} from "vuelidate/lib/validators"

    let isPhoneOrEmpty = value => {
        if (value === "") return true
        return /^\+?\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4,6})$/.test(value);
    }

    export default {
        name: "Shipping",
        props: {
            parentTotalPrice: Number
        },
        data() {
            return {
                userName: "",
                address: "",
                phone: "",
                customerEmail: "",
                totalPrice: 0,
                shipping: null,
                priceWithShipping: 0,
                priceHandler: {
                    "10" : 0,
                    "20": 9.99,
                    "30": 19.99
                },
                errors: []
            }
        },
        validations: {
            userName: {required},
            address: {required, minLength: minLength(10)},
            phone: {isPhoneOrEmpty},
            customerEmail: {required, email},
        },
        methods: {
            submit() {
                if (!this.$v.$invalid) {
                    let formData = new FormData(document.forms.shipping);
                    this.axios
                        .post(this.$URLShipping, formData)
                        .then(response => {
                            if (response.status === 201) {
                                console.log(alert("Success!"));
                            }
                        })
                        .catch(error => {
                            console.log(error.response);
                        })
                }
            }
        },
        watch: {
            shipping(value) {
                let shippingPrice = this.priceHandler[value];
                if (shippingPrice !== undefined) {
                    if (this.totalPrice >= 300 && value === "20") {
                        this.priceWithShipping = this.totalPrice;
                        return false
                    }
                    this.priceWithShipping = this.totalPrice + shippingPrice;
                }
            }
        },
        created() {
            this.totalPrice = this.parentTotalPrice ? this.parentTotalPrice : 0;
            this.priceWithShipping = this.totalPrice;
            this.shipping = this.totalPrice >= 300 ? "20" : "10";
        }
    }
</script>

<style scoped lang="sass">
    form
        display: flex
        flex-direction: column
        align-items: center
        width: 500px
        margin: 0 auto
        margin:
            top: 50px
        @media screen and (max-width: 576px)
            width: 300px
            margin-top: 0
            &>h2
                margin-bottom: 0
        &>.field
            display: flex
            position: relative
            justify-content: flex-end
            width: 500px
            margin: 20px 0 5px 0
            @media screen and (max-width: 576px)
                flex-direction: column
                width: 300px
            &>label
                padding: .5em 2em .5em 0
                text-align: left
                flex: 1
            &>.input
                flex: 2
                .error-msg
                    margin-top: 5px
                    color: darkred
                    display: block
                    text-align: left
                &>input
                    width: 100%
                    height: 40px
                    box-sizing: border-box
                    font-size: 20px
                &>input:focus
                    border: 1.3px solid deepskyblue
        .select
            height: 40px
            @media screen and (max-width: 576px)
                height: 70px
            &>select
                flex: 1.7
            &>label
                padding: .2em .2em .2em 0
        & label
            display: block

    .card-action
        text-align: right
    .submit-button
        align-self: flex-end
        @media screen and (max-width: 576px)
            align-self: center
            margin-top: 30px
        &>button
            border-radius: 15%
            outline: none
            border: none
            cursor: pointer
            font-size: 20px
            padding: 20px
            @media screen and (max-width: 576px)
                padding:
                    left: 60px
                    right: 60px
                border-radius: 0
            &:hover:enabled
                color: white
                background: black
    .total-price
        align-self: flex-end
        text-align: right
        font-weight: bold
        font-size: 24px
        margin: 20px 0
    .invalid
        border: 2px solid darkred
</style>